<?xml version="1.0" encoding="UTF-8"?>
<!-- <beans default-init-method="myInit" default-destroy-method="cleanUp"> -->
<beans xmlns:context="http://www.springframework.org/schema/context" 
		xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd" 
		xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://www.springframework.org/schema/beans">
	<context:annotation-config/>

	<bean id="parentTriangle" class="seu.edu.cn.link.Triangle" autowire="byName">
		<property name="num" value="1" />
		<property name="points">
		<list>
			<ref bean="pointA"/>
		</list>
		</property>
	</bean>
	<bean id="triangle2" class="seu.edu.cn.link.Triangle" autowire="byName" parent="parentTriangle" >
		<property name="points">
		<list merge="true">
			<ref bean="pointB"/>
		</list>
		</property>
	</bean>
	<bean id="triangle" class="seu.edu.cn.link.Triangle" autowire="byName" parent="parentTriangle">
		<property name="pointB" ref="pointB" />
		<property name="pointC" ref="pointC" />
	</bean>
	
	<bean id="pointA" class="seu.edu.cn.link.Point">
		<qualifier value="circleRelated" />
		<property name="x" value="${pointA.pointX}" />
		<property name="y" value="${pointA.pointY}" />
	</bean>

	<bean id="pointB" class="seu.edu.cn.link.Point">
		<property name="x" value="10" />
		<property name="y" value="0" />
	</bean>

	<bean id="pointC" class="seu.edu.cn.link.Point">
		<property name="x" value="0" />
		<property name="y" value="10" />
	</bean>
	<bean id="center" class="seu.edu.cn.link.Point">
		<property name="x" value="0" />
		<property name="y" value="10" />
	</bean>

	<bean id="shape" class="seu.edu.cn.link.Circle">
		<!-- <property name="center" ref="pointA" /> -->
	</bean>

	<alias name="triangle" alias="triangle-alias"/>
	<bean class="seu.edu.cn.link.DisplayNameBeanPostProcessor" />
	<bean class="seu.edu.cn.link.MyBeanFactoryPostProcessor" />
	<bean class="org.springframework.beans.factory.config.PreferencesPlaceholderConfigurer">
		<property name="locations" value="point.properties" />
	</bean>
	
</beans>